
{% load static %} 
<html lang="zh-TW">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/forPlaylists.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
    @media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0) {
        img {
                max-width:400px;
                max-height:400px;
            }
        .container{
            margin-top:2em;
        }
        }
        #previous{
            margin-bottom:2.5em;
        }
        #next{
            margin-bottom:2.5em;
        }
        .absolute{
            /* position: absolute; */
            margin-right:1em; 
        }
    
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
    <div class="row" id='playerContainer'>
        <div class="col-md-5 col-sm-10">
            <img class="song_img" src="{{ album.0.img}}" alt="">
                <h3 id="song_name" class="text-center">{{ album.0.name}}</h3>
        </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-sm-12" >
        <form action="/tracks/artist/info/{{album.0.artist_id}}" style="margin-block-end: 0em;" method="get">
            <button type="submit" class="btn btn-link" style="font-size:20px">{{album.0.artist}}</button>
        </form>
        <br>
        <button  id="previous" type="button" class="btn btn-light" onclick="previous_song()" >Previous</button>
        <audio src="{{ album.0.preview_url}}" controls autoplay buffered volume id="player" data-content="0"></audio>   
        <!-- <audio src="{% static 'music/' %}{{ album.0.name}}.mp3" controls autoplay buffered volume id="player" data-content="0"></audio>    -->
        <button id="next"  type="button" class="btn btn-light" onclick="next_song()">Ｎext</button>
        <ul class="list-group list-group-flush playlist">
        <p type="hiddn" id="all_data" data-content="{{ album }}"></p>
            {% for track in album %}
            <li id="{{forloop.counter}}" class="list-group-item" onclick="change()" data-content='{{forloop.counter}}'>
                <button type="button" class="btn btn-link absolute">＋</button>
            {{ track.name }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-1"></div>
    </div>
    </div>
</body>

<script>
var lastClickTime = new Date();
var listenTime;
var currentTime;
var player_detial = {};
var now_playing_index = $("audio").data().content;
var all_tracks_data = JSON.parse($("#all_data").data().content.replace(/'/gi,'\"'));
var track_obj = null;

function next_song(){
    // 判斷是否超出所有歌曲範圍
    if (now_playing_index < all_tracks_data.length - 1){
        now_playing_index = parseInt(now_playing_index, 10) +1;
        track_obj = all_tracks_data[now_playing_index];
        console.log('now playing index', now_playing_index)
        $('#player').attr('src', all_tracks_data[now_playing_index].preview_url);
        $('#song_name').text(all_tracks_data[now_playing_index].name);
    
        console.log('now playing name:', all_tracks_data[now_playing_index].name);
    }
}

function previous_song(){
    // 判斷是否超出所有歌曲範圍
    if (now_playing_index > 0) {
        now_playing_index = parseInt(now_playing_index, 10) -1;
        track_obj = all_tracks_data[now_playing_index];
        $('#player').attr('src', all_tracks_data[now_playing_index].preview_url);
        $('#song_name').text(all_tracks_data[now_playing_index].name);
        console.log('now playing name:', all_tracks_data[now_playing_index].name);
    }
}

function change() {
    now_playing_index = event.target.id;
    console.log('now playing index', now_playing_index-1)
    //  之後要改成下面寫法
    // $('#player').attr('src', "{% static 'music/' %}" + event.target.innerHTML + '.mp3');
    
    // 先都用30秒試聽
    $('#player').attr('src', all_tracks_data[now_playing_index-1].preview_url);
    $('#song_name').text(all_tracks_data[now_playing_index-1].name);
    console.log('now playing name:', all_tracks_data[now_playing_index-1].name)
    
    // 總共聽的時間
    listenTime = computeListenTime(new Date())
    // console.log(listenTime)
    // 切歌時判斷 currentTime 超過30秒
    if (currentTime >30){
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url= 'logs');
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.send(JSON.stringify(player_detial));
        player_detial['ended'] == false
    }
}

function computeListenTime(switchTime){
    listenTime = switchTime - lastClickTime;
    lastClickTime = switchTime
    return (listenTime/1000)
}

(function (window, undefined) {
    var user = document.getElementById('user_name').innerText;
    var player = document.getElementById('player');
    player_detial['user'] = user;
    map = ['error', 'src', 'currentSrc', 'readyState', 'preload', 'seeking', 'seeked',
        'currentTime', 'duration', 'paused', 'playbackRate','loop', 'controls', 'volume','ended',];
    window.setInterval(function () {
        for (var i = 0, j = map.length; i < j; i++) {
            player_detial[map[i]] = player[map[i]];
            // player_detial['played'] = { "start": player.played.start(0), "end": player.played.end(0) }
            // player_detial['seekable'] = { "Start": player.seekable.start(0), "End": player.seekable.end(0) }
            var xhr = new XMLHttpRequest();
            ifEnded = player_detial['ended']
            currentTime = player_detial['currentTime']
        }
        if ((ifEnded == true))
            {
                player.currentTime = 0;
                xhr.open('POST', url= 'logs');
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                xhr.send(JSON.stringify(player_detial));
                player_detial['ended'] == false
            }
    }, 1000);
}
)(window);
</script>