
{% load static %} 
<html lang="zh-TW">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/forPlaylists.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
    @media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0) {
        img {
                max-width:450px;
                max-height:450px;
            }
        .container{
            margin-top:2em;
        }
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
    <div class="row" id='playerContainer'>
        <div class="col-md-5 col-sm-10">
            <img class="song_img" src="{{ album.0.img}}" alt="">
                <h3 id="song_name" class="text-center">{{ album.0.name}}</h3>
        </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 col-sm-10" >
        <form action="/tracks/artist/info/{{album.0.artist_id}}" style="margin-block-end: 0em;" method="get">
            <button type="submit" class="btn btn-link" style="font-size:20px">{{album.0.artist}} </button>
        </form>
        <br>
        <audio src="{% static 'music/' %}{{ album.0.name}}.mp3" controls autoplay buffered volume id="player"></audio>   
        <ul class="list-group list-group-flush playlist">
            {% for track in album %}
            <li id="{{track.id}}" class="list-group-item" onclick="change()">{{ track.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-1"></div>
    </div>
    </div>
</body>

<script>
var lastClickTime = new Date();
var listenTime;
var currentTime;
var player_detial = {};

function change() {
    $('#player').attr('src', "{% static 'music/' %}" + event.target.innerHTML + '.mp3');
    // 總共聽的時間
    listenTime = computeListenTime(new Date())
    console.log(listenTime)

    // 切歌時判斷 currentTime 超過30秒
    if (currentTime >30){
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url= 'logs');
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.send(JSON.stringify(player_detial));
        player_detial['ended'] == false
    }
    $('#song_name').text(event.target.innerHTML);
}

function computeListenTime(switchTime){
    listenTime = switchTime - lastClickTime;
    lastClickTime = switchTime
    return (listenTime/1000)
}

(function (window, undefined) {
    var user = document.getElementById('user_name').innerText;
    var player = document.getElementById('player');
    player_detial['user'] = user;
    map = ['error', 'src', 'currentSrc', 'readyState', 'preload', 'seeking', 'seeked',
        'currentTime', 'duration', 'paused', 'playbackRate','loop', 'controls', 'volume','ended',];
    window.setInterval(function () {
        for (var i = 0, j = map.length; i < j; i++) {
            player_detial[map[i]] = player[map[i]];
            // player_detial['played'] = { "start": player.played.start(0), "end": player.played.end(0) }
            // player_detial['seekable'] = { "Start": player.seekable.start(0), "End": player.seekable.end(0) }
            var xhr = new XMLHttpRequest();
            ifEnded = player_detial['ended']
            currentTime = player_detial['currentTime']
        }
        if ((ifEnded == true))
            {
                player.currentTime = 0;
                xhr.open('POST', url= 'logs');
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                xhr.send(JSON.stringify(player_detial));
                player_detial['ended'] == false
            }
    }, 1000);
}
)(window);
</script>